*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #4a4a4a;
}

ul, ol {
  list-style: none;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 300px;
  height: 100%;
  background-color: #f7f7f7;
  border-left: 1px solid #e3e3e3;
}

.title {
  padding: 15px 0;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
}

.menu {
  padding: 10px;
}

.section {
  margin-bottom: 30px;
}

.subtitle {
  margin: 10px 0;
  font-weight: 500;
}

.demo-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 15px;
}

.demo {
  width: 36px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.demo:hover {
  transform: scale(1.2);
}

[data-texture="no-texture"] {
  line-height: 28px;
  text-align: center;
  color: #FF0000;
}

[data-texture="fabric"] {
  background-image: url("/textures/fabric_pattern/fabric_pattern_07_col_1_1k.jpg");
}

[data-texture="book"] {
  background-image: url("/textures/book_pattern/book_pattern_col1_1k.jpg");
}

[data-texture="leather"] {
  background-image: url("/textures/leather_red/leather_red_03_coll1_1k.jpg");
}

[data-color="#cffc19"] {
  background-color: #cffc19;
}

[data-color="#fe9666"] {
  background-color: #fe9666;
}

[data-color="#21eda6"] {
  background-color: #21eda6;
}

[data-color="#bb74ff"] {
  background-color: #bb74ff;
}

[data-color="#f7e2e2"] {
  background-color: #f7e2e2;
}

.loading-bar {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.5s;
  will-change: transform;
}

.loading-bar.ended {
  transform-origin: top right;
  transition: transform 1.5s ease-in-out;
}